body {
    background-color: gainsboro;
    margin: 0;
    text-align: center;
    background-image: url("../images/explosion.png");
    font-family: "Sofia";
}

.header {
    padding: 20px;
    text-align: center;
    background: #191515;
    color: white;
    font-size: 30px;
    font-family: "Sofia";
}

.header {
    font-family: "Sofia";
}

.resetbtn {
    margin-bottom: 10px;
    font-size: 30px;
    vertical-align: middle;
    line-height: 2;
}

td {
    width: 50px;
    height: 50px;
    font-size: 1.4em;
    color: black;
    background-color: gray;
    font-weight: 700;
    border-radius: 8px;
    transition: all 0.2s ease;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='51' height='61' viewport='0 0 100 100' style='fill:black;font-size:31px;'><text y='50%'>⛏</text></svg>") 16 0, auto;
}

table {
    border-spacing: 2px;
    border-color: black;
    margin: auto;
}

.btn {
    background-image: linear-gradient(to right, #16222A 0%, #3A6073 51%, #16222A 100%)
}

.btn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.easyBtn {
    border-radius: 40px;
    background-color: black;
    color: white;
    font-family: "Sofia";
}

.medBtn {
    border-radius: 40px;
    background-color: black;
    color: white;
    size: 5px;
    font-family: "Sofia";
}

.hardBtn {
    border-radius: 40px;
    background-color: black;
    color: white;
    font-family: "Sofia";
}

.resetbtn {
    background-color: black;
    border-radius: 40px;
}